.Home {
    position: relative;
    padding-top: 131px;
    padding-block: 5em;
    display: flex;
    align-items: stretch;
    background-color: rgb(242, 206, 206);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
   
.banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 619px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
   
.main {
    width: 90%;
    max-width: 1320px;
    background-color: #FFFFFF;
    margin: auto;
    border-radius: 7px;
    box-shadow:  0 4px 34px rgba(0, 0, 0, 0.07);
}
   
.Home header {
    text-align: center;
    font-family: "Gill Sans", sans-serif;
    padding-top: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
   
.Home header h1 {
    font-style: italic;
    font-size: 44px;
    color: #796157;
}
   
.Home header p {
    font-style: italic;
    font-size: 28px;
    padding-block: 10px;
}
   
.projectSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    margin-block: 140px;
    margin: 0rem 4rem 4rem 4rem;
    gap: 2rem;
}

.projectSection h2 {
    font-size: 40px ;
}

.projectList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.projectButton{
    border: none; 
    cursor: pointer; 
    box-shadow: none;
    width: 100%;
    height: 100%;
    background: none;
    margin: 0;
    padding: 0;
}

.projectCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 35rem;
    height: 25rem;
    background-color: bisque;
    border-radius: 20px;
    position:static ;

}

.Booki {
    background-size: cover;
    background-image: url('../../images/bookiscreen.png');
    width: 35rem;
    height: 25rem;
    border-radius: 20px;
}

.Booki:hover {
    box-shadow:  1px 1px 2px pink, 0 0 1px gold, 0 0 0.2em pink;
    border-radius: 20px;
}

.ArchieWebos {
    background-size: cover;
    background-image: url('../../images/sophie3.png');
    width: 35rem;
    height: 25rem;
    border-radius: 20px;
}

.ArchieWebos:hover {
    box-shadow:  1px 1px 2px pink, 0 0 1px gold, 0 0 0.2em pink;
    border-radius: 20px;
}

.Kasa {
    background-size: cover;
    background-image: url('../../images/kasa.png');
    width: 35rem;
    height: 25rem;
    border-radius: 20px;
}

.Kasa:hover {
    box-shadow:  1px 1px 2px pink, 0 0 1px gold, 0 0 0.2em pink;
    border-radius: 20px;
}

.monVieuxGrimoire {
    background-size: cover;
    background-image: url('../../images/vieuxgrimoire.png');
    width: 35rem;
    height: 25rem;
    border-radius: 20px;
}

.monVieuxGrimoire:hover {
    box-shadow:  1px 1px 2px pink, 0 0 1px gold, 0 0 0.2em pink;
    border-radius: 20px;
}

.tags {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(242, 206, 206, 0.6);
    width: 10rem;
    height: 60%;
    border-radius: 0px 20px 0px 20px ;
    font-weight: bolder;
    text-wrap: wrap;
    padding: 10px;
    gap: 1rem;
}

.tags2:hover {
    width: 12rem;
    height: 30%;
}

.tags2 {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(242, 206, 206, 0.6);
    width: 10rem;
    height: 4rem;
    border-radius: 0px 20px 0px 20px ;
    left: 0;
    bottom: 0;
    font-weight: bolder;
    padding: 10px;
}

.tags:hover {
    width: 12rem;
    height: 17rem;
}

.List {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
}

.li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 232, 232, 1);
    height: 100%;
    padding: 1rem;
}

.li h2 {
    font-size: 40px ;
}

.aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 232, 232, 1);
    height: 12rem;
    height: auto;
}

.aboutMe img {
    display: none;
}

.aboutMe h2 {
    font-size: 40px ;
    text-align: center;
}

.aboutMeText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
}

.modalAll {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}

.modal {
    display: flex;
    gap: 1rem;
}

.modal .modalAll img {
    width: 60%;
    height: auto;
    margin: auto;
    border-radius: 20px;
}

.modal .titleButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%
}

.modal .titleButton h2 {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: auto 0 auto 0; 
    background-color: gold;
    background-size: 15rem;
    padding: 2rem;
    border-radius: 10px;
}

.modal .titleButton button {
    border: none;
    height: 100%;
    padding: 8px;
    border-radius: 20px;
    cursor: pointer;
}

.modal .titleButton button:hover {
    border: none;
    height: 100%;
    padding: 8px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 1px 1px 2px pink, 0 0 1px gold, 0 0 0.2em pink;
}

.modal .imageLink {
    width: 5rem;
    height: 5rem;
    margin: 0;
    padding: 0;
}

.modal .gitLink {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.modal .descriptionDiv, .modal .probDiv, .modal .skillsDiv {
    height: 100%;
    width: 100%;
    background-color: rgb(65, 41, 96, 0.5);
    padding: 1rem;
    border-radius: 10px;
}

.probDiv {
    display: flex;
    flex-direction: column;
}

.modal .descriptionDiv h3, .modal .probDiv h3, .modal .skillsDiv h3 {
    height: 3rem;
    padding: 1rem;
    border-radius: 10px 10px 0 0;
    background-color: rgb(65, 41, 96, 1);
    text-align: center;
    align-content: center;
    border-bottom: 1px solid rgb(65, 41, 96, 1);
    color: #FFFFFF;
    
}

.skillTagDiv, .skillsList {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 1rem;
}

.skillTag {
    background-color: whitesmoke;
    width: auto;
    height: 2rem;
    border-radius: 30px;
    padding: 0 1rem 0 1rem;
    align-content: center;
}

.skillTag p {
    text-align: center;
    font-weight: bolder;
    align-content: center;
}

.skillTag:hover {
   box-shadow: 3px 3px 0px 0px orange;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: orange;
    opacity: 0.8;
    padding: 1rem;
}

.goUp {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 7rem;
    height: 7rem;
    background-size: cover;
}

.goUp img {
    border-radius: 20px 0px 0px 0px;
}

.goUp img:hover{
    box-shadow:  10px 40px 64px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 767px) {
    .projectSection {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            justify-content: center;
            align-items: center;
            margin: 2px;
            gap: 2rem;
        }

    .projectCard {
        width: 25rem;
        height: 25rem;
    }

    .modal {
        display: flex;
        margin: auto;
        flex-wrap: wrap;
    }

    .modalAll {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
    }

    .modal .descriptionDiv, .modal .probDiv, .modal .skillsDiv {
        height: 100%;
        width: 8rem;
        background-color: rgb(65, 41, 96, 0.5);
        padding: 1rem;
        border-radius: 10px;
    }

    .modal .descriptionDiv h3, .modal .probDiv h3, .modal .skillsDiv h3 {
        height: 3rem;
        padding: 1rem;
        border-radius: 10px;
        background-color: rgb(65, 41, 96, 1);
        text-align: center;
        align-content: center;
        border-bottom: 1px solid rgb(65, 41, 96, 1);
        color: #FFFFFF;
        font-size: smaller;
    }

    .modal .descriptionDiv div, .modal .probDiv div, .modal .skillsDiv div {
        list-style: none;
        align-items: center;
    }

    .modal .modalAll img {
        width: 80%;
    }

    .skillTag {
        background-color: whitesmoke;
        border-radius: 30px;
        padding: 0 1rem 0 1rem;
        align-content: center;
        padding: 0.5rem;
    }

    .modal .titleButton {
        gap: 1rem;
    }

    .modal .titleButton h2 {
        font-size: 100px;
    }
}