.Header {
    font-family: "Gill Sans", sans-serif;
    background-color: #FFFFFF;
    min-height: 91px;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;

}

.Container {
    display: flex;
    width: 100%;
    flex-direction: row;   
    justify-content: space-between;
}

.Logo {
    display: flex;
    align-items: flex-start;
    padding: 1em 0em 1em 2em;
}

.Nav {
    display: flex;
    width: 100%;
    align-items: center;
    padding-right: 0;
    justify-content: flex-end;
}

.Header ul {
    display: flex;
    padding-left: 0;
}

.Header ul li {
    display: flex;
    padding-inline: 10px;
    list-style-type: none;
    font-size: 18px;
    padding-top: 5px;
    align-items: center;
    gap: 10px;
}

.Header ul li a {
    text-decoration: none;
    color: black ;
}

.Header ul li a:hover {
    font-size: larger;
    font-weight: bold;
}

.Header a.activeLink {
    font-weight: bold;
    color: orange;
}

.Header img {
    width: 6.5em;
    height: 6.5em;
}

.Loupe img{
    display: none
}

@media all and (max-width: 600px) {
    .Header div {
        flex-direction: column;
        align-items: center;
    }

    .Header img {
        margin-top: 20px;
        width: 50%;
    }

    .Header ul li {
        padding-block: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .Logo {
        display: flex;
        align-items: flex-start;
        padding: 1em;
    }

    .Header img {
        width: 3.5em;
        height: 3.5em;
    }
 
    .Nav {
        justify-content: center;
    }
    
    .Header ul li {
        font-size: 12px;
        flex-direction: column;
    }

}