.Banner {
    display: flex;
    flex-direction: row;
    width: 100%; 
    background: linear-gradient(0deg, rgba(209, 216, 200, 0.1) 10%, rgba(238, 174, 202, 0.2) 90%);
    box-shadow: inset 0px 2px 0px 0px rgb(204, 201, 201, 0.6);
    margin-top: 9rem;
}

.Text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 1rem;
    border-radius: 10px;
    text-align: left;
    color: rgb(65, 41, 96, 1)
}

.Banner h1 {
    font-family: "Gill Sans", sans-serif;
    font-size: 10rem;
    font-weight: normal ;
    text-shadow: 1px 1px 2px grey, 0 0 1.5em grey, 0 0 0.2em white;
    font-size: 25px;
}

.Banner p {
    font-family: "Gill Sans", sans-serif;
    font-size: 27px;
    margin: 2px;
    text-shadow: 1px 1px 1px wheat, 0 0 1em grey, 0 0 0.2em white;
}

.ProfilePicture {
    display: none;
    width: 15rem;
    aspect-ratio: 3/4;
    border-radius: 10px;
    margin: 2rem;
}

.DomaineDiv {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    background: none;
}


.Domaine {
    border: none; 
    cursor: pointer; 
    box-shadow: none;
    width: 50%;
    height: 9rem;
    background: none;
    margin: 0;
    padding: 0;
}

.DevButton {
    font-size: 25px;    
    border-radius : 10px;
    width: 100%;
    height: 100%;
    background-color: rgb(245,209,16, 0.8);
    box-shadow: 4px -4px 4px 2px rgb(245,209,16, 0.4);
}

.DevButton:hover {
    box-shadow: 8px -8px 8px 5px rgb(245,209,16, 0.4);
}

.DevButton p {
    font-size: 25px;    
    color: black;
    font-weight: bold;
    padding-top: 3rem;
}

.SysButton {
    display: none;
    font-size: 25px;    
    border-radius : 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(209, 216, 200, 0.8);
    box-shadow: 8px -8px 8px 5px rgba(209,216,200, 0.4);
}

.SysButton:hover {
    border: 2px solid rgba(209, 216, 200, 0.8);
}

.SysButton p {
    font-size: 25px;    
    color: black;
    font-weight: bold;
    padding: 2.5rem;
}

.modalAll {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}

.modalAll h2{
    text-align: center;
    font-family: "Gill Sans", sans-serif;
}

.presentationList {
    list-style: none;
}

.presentationList p {
    margin: 10px 0 10px 0;
    font-weight: thin ;
    font-family: "Gill Sans", sans-serif;
    text-align: center;
}

@media only screen and (max-width: 767px) {


    .Banner h1 {
        font-size: 27px;
        text-shadow: none;
    }

    .Banner p {
        font-size: 17px;
        text-shadow: none;
    }

    .DomaineDiv {
        display: flex; 
        flex-direction: row; 
        margin-top: 1rem;
        align-items: center;
    }
    
    .Domaine {
        height: auto;
        background: none;
    }

    .DevButton {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            justify-content: center;
            align-items: center;
    }

    .DevButton p {
            font-size: 15px;    
            color: black;
            font-weight: bold;
            padding-top: 0rem;
            text-align: center;
            margin: 1rem;
    }
    
}